@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>

<address><strong>More information: </strong><a href="https://www.cruzeirodosuleducacional.com.br/">Ciências da Computação</a></address>

<h3>@ViewData["Programador"]</h3>

<p>@ViewData["email"]</p>
